*{
    margin: 0;
}

.body-centralize{
    display: flex;
    flex-direction:column;
    align-items:center;
    background-color: lightblue;
    width:100%;
    height:100vh;
}

.options{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 8px;
    border: 1px solid black;
    background-color: white;
    width: 500px;
    height: 150px;
}

.banks{
    width:100%;
    
}